@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-scrollbar {
  scrollbar-width: 8px;
  scrollbar-color: #BAA2CD;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track{background: #2c2c2c;}
.custom-scrollbar::-webkit-scrollbar-thumb{background: #BAA2CD}



.gradient-text {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(278deg, #BAA2CD, #c20dc5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
